@{
    ViewData["Title"] = "Contacto";
}

@section FormStyles{
    <link rel="stylesheet" href="~/css/formStyle.css" />
}

<div class="container px-4 py-5 mx-auto animated bounceInLeft">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center "> <img id="logoLogin" src="https://i.ibb.co/HxBsYQg/Logo-Eco-R2.png"> </div>
                        <h6 class="msg-info"><strong>Contacto</strong></h6>
                        <form method="POST" action="@Url.Action("EnviarContacto", "Home")">
                            <div class="form-group"> <label class="form-control-label text-muted">Nombre</label> <input type="text" id="name" name="nombre" placeholder="Nombre" class="form-control" required> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Email</label> <input type="email" id="email" name="mail" placeholder="Correo Electronico" class="form-control" required> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Telefono</label> <input type="number" id="number" name="telefono" placeholder="Telefono" class="form-control"> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Mensaje</label> <input type="text" id="text" name="mensaje" placeholder="Mensaje" class="form-control" required> </div>
                            <div class="row justify-content-center my-3 px-3"> <button href="#myModal" class="btn-block btn-color" data-toggle="modal"> Enviar Mensaje </button> </div>
                        </form> 
                    </div>
                </div>
                
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">Venimos a cambiar el Mundo</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title">Genia!</h4>	
			</div>
			<div class="modal-body">
                <p class="text-center">Gracias por tu mensaje @ViewBag.nombre</p>
				<p class="text-center">Responderemos lo antes posible a tu correo @ViewBag.mail</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     
