@{
    ViewData["Title"] = "Inicio";
}

@section InicioStyles{
    <link rel="stylesheet" href="~/css/indexStyle.css" />
}
<div class="circle"></div>
<section>
    <div class="content animated bounceInUp">
        <div class="textbox">
            <h2>Venimos a cambiar el <strong>Mundo</strong></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magni asperiores, 
                incidunt quidem cum ipsa molestias dolore nesciunt quia deleniti possimus praesentium, 
                iure officia voluptatibus consequuntur vel quasi impedit sed!.
            </p>
            <a asp-action="Reciclar">Recicla Ya!</a>
        </div>
        <div class="imgBox">
            <img src="https://i.ibb.co/z6BYv6F/imagen-Home1.png" alt="recyclingMan">
        </div>
    </div>
</section>

