@{
    ViewData["Title"] = "Reciclaje Info";
}

<div class="container">
    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1577705998148-6da4f3963bc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PAPEL Y CARTÓN</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias veniam eaque,
                        illum, minima, vitae sapiente neque non voluptatibus exercitationem quos quisquam ab. Eaque cum
                        repellendus explicabo modi? Maiores, corrupti ducimus.<br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolorem saepe labore sequi
                        delectus error quisquam cum dolor? Delectus impedit distinctio voluptate at quos qui explicabo
                        labore consequatur fuga. Labore.<br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, recusandae vero voluptatem
                        tenetur enim ipsam suscipit quaerat, aperiam tempore sit architecto atque veniam pariatur fugiat
                        animi eligendi neque iste ipsa.<br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sunt, qui sapiente sit iusto
                        minus tenetur eligendi omnis voluptatibus? Impedit neque minus sit, porro cumque sed. Culpa odio
                        saepe laborum.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1577705998148-6da4f3963bc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PAPEL Y CARTÓN</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias veniam eaque,
                        illum, minima, vitae sapiente neque non voluptatibus exercitationem quos quisquam ab. Eaque cum
                        repellendus explicabo modi? Maiores, corrupti ducimus.<br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolorem saepe labore sequi
                        delectus error quisquam cum dolor? Delectus impedit distinctio voluptate at quos qui explicabo
                        labore consequatur fuga. Labore.<br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, recusandae vero voluptatem
                        tenetur enim ipsam suscipit quaerat, aperiam tempore sit architecto atque veniam pariatur fugiat
                        animi eligendi neque iste ipsa.<br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sunt, qui sapiente sit iusto
                        minus tenetur eligendi omnis voluptatibus? Impedit neque minus sit, porro cumque sed. Culpa odio
                        saepe laborum.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1577705998148-6da4f3963bc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PAPEL Y CARTÓN</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias veniam eaque,
                        illum, minima, vitae sapiente neque non voluptatibus exercitationem quos quisquam ab. Eaque cum
                        repellendus explicabo modi? Maiores, corrupti ducimus.<br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolorem saepe labore sequi
                        delectus error quisquam cum dolor? Delectus impedit distinctio voluptate at quos qui explicabo
                        labore consequatur fuga. Labore.<br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, recusandae vero voluptatem
                        tenetur enim ipsam suscipit quaerat, aperiam tempore sit architecto atque veniam pariatur fugiat
                        animi eligendi neque iste ipsa.<br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sunt, qui sapiente sit iusto
                        minus tenetur eligendi omnis voluptatibus? Impedit neque minus sit, porro cumque sed. Culpa odio
                        saepe laborum.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1577705998148-6da4f3963bc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PAPEL Y CARTÓN</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias veniam eaque,
                        illum, minima, vitae sapiente neque non voluptatibus exercitationem quos quisquam ab. Eaque cum
                        repellendus explicabo modi? Maiores, corrupti ducimus.<br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolorem saepe labore sequi
                        delectus error quisquam cum dolor? Delectus impedit distinctio voluptate at quos qui explicabo
                        labore consequatur fuga. Labore.<br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, recusandae vero voluptatem
                        tenetur enim ipsam suscipit quaerat, aperiam tempore sit architecto atque veniam pariatur fugiat
                        animi eligendi neque iste ipsa.<br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sunt, qui sapiente sit iusto
                        minus tenetur eligendi omnis voluptatibus? Impedit neque minus sit, porro cumque sed. Culpa odio
                        saepe laborum.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>