@{
    ViewData["Title"] = "Reciclaje";
}


<div class="conatinerCard">
    <div class="wrap">

        <div class="box one animated bounceInLeft">
            <div class="date">
            </div>
            <a class="card-link" asp-action="ReciclarInfo" ><h1>PAPEL Y CARTÓN</h1></a>
            <div class="poster p1 ">
            </div>
        </div>

        <div class="box two animated bounceInLeft">
            <div class="date">
            </div>
            <H1>VIDRIO</H1>
            <div class="poster p2">
            </div>
        </div>

        <div class="box three animated bounceInDown">
            <div class="date">
            </div>
            <h1>METAL</h1>
            <div class="poster p3">
            </div>
        </div>

        <div class="box five animated bounceInRight">
            <div class="date">
            </div>
            <h1>PILAS</h1>
            <div class="poster p4">
                <h4>M</h4>
            </div>
        </div>

        <div class="box six animated bounceInRight">
            <div class="date">
            </div>
            <h1>INFORMÁTICA</h1>
            <div class="poster p5">
            </div>
        </div>

        <div class="box seven animated bounceInLeft">
            <div class="date">
            </div>
            <h1>PLÁSTICO</h1>
            <div class="poster p6">
            </div>
        </div>

        <div class="box eight animated bounceInLeft">
            <div class="date">
            </div>
            <h1>ORGÁNICO</h1>
            <div class="poster p7">
            </div>
        </div>

        <div class="box nine animated bounceInUp">
            <div class="date">
            </div>
            <h1>MEDICAMENTOS</h1>
            <div class="poster p8">
            </div>
        </div>

        <div class="box ten animated bounceInRight">
            <div class="date">
            </div>
            <h1>NEUMÁTICOS</h1>
            <div class="poster p9">
            </div>
        </div>

        <div class="box eleven animated bounceInRight">
            <div class="date">
            </div>
            <h1>MADERA</h1>
            <div class="poster p10">
            </div>
        </div>

        <div class="box tlv">
            <div class="date">
            </div>
            <h1>CONSTRUCCIÓN</h1>
            <div class="poster p11">
            </div>
        </div>

        <div class="box thirteen">
            <div class="date">
            </div>
            <h1>ELECTRODOM.</h1>
            <div class="poster p12">
            </div>
        </div>

        <div class="box ftn">
            <div class="date">
            </div>
            <h1>ACEITE</h1>
            <div class="poster p13">
            </div>
        </div>

        <div class="box fith">
            <div class="date">
            </div>
            <h1>TEXTIL</h1>
            <div class="poster p14">
            </div>
        </div>

        <div class="box sith">
            <div class="date">
            </div>
            <h1>RECICLARTE</h1>
            <div class="poster p15">
            </div>
        </div>

    </div>
</div>
