@{
    ViewData["Title"] = "Reciclaje Info";
}

<div class="container">
    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.ibb.co/GWmTC3W/papel-Carton.png"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>PAPEL Y CARTÓN</strong></h5>
                    <p class="card-text">
                        Junta y lleva a reciclar: periódicos, revistas, papel blanco, cajas de cartón (galletas, aparatos electrónicos, etc.), rollo de papel higiénico y de cocina, 
                        papel de envoltorios, publicidad, sobres sin ventanilla, hueveras, etc.
                        Guarda el papel en cajas de cartón o bolsas de papel y déjalo así en el contenedor. Procura que el papel está seco.<br><br>

                        Las ventajas medioambientales de reciclar papel y cartón son muy diversas. Por cada tonelada de papel que se recoge y se recicla se ahorran dos metros cúbicos de vertedero, 
                        140 litros de petróleo, 50.000 litros de agua y la emisión de 900 kilos de dióxido de carbono (CO2), uno de los gases de efecto invernadero causante del cambio climático.
                        En nuestra bolsa de basura el papel y cartón suponen aproximadamente un 20 % en el peso y un 55% en el volumen. Tirar a la basura estos materiales es un coste energético, 
                        medioambiental y económico, que no nos podemos permitir. <br><br>

                        El papel y el cartón se recolectan, se separan y posteriormente se mezclan en la batidora industrial con agua templada, se calienta y se machaca hasta conseguir una pasta. 
                        La pasta de menor calidad se utiliza para fabricar cajas de cartón.
                        Básicamente se utiliza el mismo proceso para todos los tipos de papel, si bien hay algunas consideraciones especiales para cada tipo. El papel brillante, por ejemplo, requiere un 
                        tratamiento especial, mientras que el papel ecológico reciclado produce el mínimo impacto en el medio ambiente.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.ibb.co/mNTzv41/Vidrio.png"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>VIDRIO</strong></h5>
                    <p class="card-text">
                        El reciclado de vidrio entraña beneficios sociales, ambientales y económicos, ya que genera un significativo ahorro energético. 
                        El 100% del vidrio se reutiliza para crear nuevos envases.<br>Por cada 3.000 botellas que se depositan en el iglú se ahorran 130 kg de fuel, 
                        debido a que el vidrio que se recicla funde a una temperatura más baja. La energía requerida para fundir la fórmula del vidrio, puede disminuir 
                        hasta la mitad, dependiendo de la cantidad de vidrio que se introduzca al horno.<br>De hecho, el vidrio reciclado ahorra de un 25% a un 32% de la 
                        energía utilizada para producir vidrio nuevo. Con la energía que ahorra el reciclaje de una botella sería posible mantener encendida una bombilla 
                        de 100 vatios durante 4 horas.
                        <br><br>
                        El vidrio tiene tres características que hacen de él un material excelente para ser reciclado. Uno es que puede ser reciclado el 100% del producto, 
                        puede ser reciclado infinidad de veces y además mantiene todas sus propiedades.
                        Aparte de esto, los beneficios para el Medio Ambiente son muy importantes:<br>
                        1- Menos residuos para los vertederos<br>
                        2- La contaminación del aire se reduce un 20%, ya que se quema menos combustible para fabricar nuevos envases y, además, se reduce la producción de gases en la fundición.<br>
                        3- El vidrio reciclado requiere 26% menos de energía que su fabricación desde cero.<br>
                        4- Ahorro de recursos naturales: reciclando 3.000 botellas se ahorran 1,2 toneladas de materias primas, reduciendo así la erosión de tierra por extracción.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.ibb.co/tbz6Gsb/Metal.png"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>METAL</strong></h5>
                    <p class="card-text">
                        Los metales tienen innumerables propiedades que permiten que, a través de su reciclado, se puedan lograr excelentes beneficios medioambientales, 
                        económicos y sociales. Reciclarlos es una actividad sencilla y capaz de proporcionar un importante ahorro de materias primas vírgenes.
                        <br><br>
                        ¿Cuáles son los materiales que podemos reciclar?<br>
                        El acero ,El aluminio, El cobre, El bronce, El latón.
                        <br><br>
                        ¿Qué metales no se pueden reciclar?<br>
                        Aunque casi la mayor parte de los metales se reciclan, existen algunos que no se pueden reutilizar. Tal es el caso de los  usados para 
                        pinturas o productos tóxicos, tuberías (siempre y cuando no sean de cobre), perchas de ropa y pedacería de metal.
                        <br><br>
                        Beneficios de reciclar metales:<br>
                        1- Mejoramos la calidad del aire al reducir su contaminación. El reciclaje del aluminio, de hecho, representa una disminución de las emisiones en 9,8 toneladas de 
                        CO2 y 64 kilogramos de dióxido de azufre.<br>
                        2- Disminuimos las emisiones de gases de efecto invernadero.<br>
                        3- Generamos un descenso de los residuos destinados a incineración, lo que hace que disminuyan las  sustancias tóxicas y peligrosas.<br>
                        4- Contribuimos a que se reduzcan los residuos de chatarra que acaban en vertederos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.ibb.co/6spqkGN/Pilas.png"
                    class="card-img" alt="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><strong>PILAS</strong></h5>
                    <p class="card-text">
                        Si las pilas se tiran a la basura con el resto de residuos, pueden terminar perdiendo su hermetismo y derramar algunos de sus componentes 
                        (níquel, cadmio o mercurio) dañando al medio ambiente. No solo son perjudiciales para nuestro planeta, las pilas también pueden dañar 
                        la salud de las personas y provocar varios tipos de cáncer, lesiones pulmonares, disfunciones renales y respiratorias o daños en la piel, 
                        entre muchas otras. <br><br>

                        Muchas veces son enterradas o quemadas con los demás desechos: en el caso de la incineración, al quemarse se producen elementos tóxico que 
                        contaminan el aire. Al enterrarlos, además de que tardan muchísimos años en desintegrarse, emanan sustancias peligrosas que se contaminan el suelo, 
                        las bacterias, las plantas y el agua subterránea.<br>
                        Las pilas que se tirar a la basura acaban oxidándose en los vertederos, liberandose el mercurio que contienen y contaminando así suelos y aguas. 
                        También puede llagar a convertirse en metilmercurio, un compuesto altamente tóxico.<br>
                        La recogida selectiva de las pilas es de una gran importancia, por lo que debemos exigir la existencia de contenedores específicos repartidos por 
                        zonas estratégicas y bien visibles de nuestra ciudad.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>