@{
    ViewData["Tittle"] = "Saludo";
}


<div class="content">

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-saludo">
            <img src="https://i.pinimg.com/originals/d8/78/ed/d878ed577f7371182d4b31707caa80bf.png" alt="ImagenSuccess">
            <h1>@ViewBag.nombre, gracias por tu mensaje</h1>
            <p>Responderemos a tu correo @ViewBag.mail</p>
        </div>
        <div class="contact-info">
            <h4>Mas Info</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123 </li>
                <li><i class="fas fa-phone"></i> (+54) 1514131211</li>
                <li><i class="fas fa-envelope-open-text"></i> juanzinhoperezinho@gmail.com </li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
            <p>Grupo3FTW.com</p>
        </div>
    </div>

</div>